<table>
    <thead>
        <tr>
          <th scope="col" style="
          width: 300px;
          max-width: 200px;">Review Number</th>
          <th scope="col">date request received</th>
          <th scope="col">date notice sent</th>
          <th scope="col">date dispute received</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dispute of obj">
            <th scope ="row">{{ dispute.reviewId}}</th>
            <td>{{dispute.dateRequest}}</td>
            <td>{{dispute.dateNotice}}</td>
            <td>{{dispute.dateDispute}}</td>

        </tr>
    </tbody>


         <input type = "search" placeholder="enter review Id here" [(ngModel)]="reviewN" > 
         <input type = "search" placeholder="date request received" [(ngModel)]="dateR">  
        <!-- <td> <input type = "search" placeholder="date notice sent" [(ngModel)]="dateN"> </td>  --> 
          <input type = "search" placeholder="date dispute received " [(ngModel)]="dateD">    
         <button (click) = "storeResults()">Add</button>
     





</table>
