<app-navbar></app-navbar>

<p>3316_Lab4 respects the intellectual property rights of others. Per the DMCA, 3316_lab4 will respond expeditiously to claims of copyright infringement on the Site if submitted to 3316_Lab4's Copyright Agent as described below. Upon receipt of a notice alleging copyright infringement, 3316_Lab will take whatever action it deems appropriate within its sole discretion, including removal of the allegedly infringing materials and termination of access for repeat infringers of copyright protected content.
    If you believe that your intellectual property rights have been violated by 3316_Lab or by a third party who has uploaded materials to our website, please provide the following information to the designated Copyright Agent listed below:
    A description of the copyrighted work or other intellectual property that you claim has been infringed;
    A description of where the material that you claim is infringing is located on the Site;
    <br>
    
    An address, telephone number, and email address where we can contact you and, if different, an email address where the alleged infringing party, if not 3316_Lab4, can contact you;
    A statement that you have a good-faith belief that the use is not authorized by the copyright owner or other intellectual property rights owner, by its agent, or by law;
    A statement by you under penalty of perjury that the information in your notice is accurate and that you are the copyright or intellectual property owner or are authorized to act on the owner's behalf;
    Your electronic or physical signature.
    <br>
    3316_Lab4 may request additional information before removing any allegedly infringing material. In the event 3316_Lab4 removes the allegedly infringing materials, 3316_Lab4 will immediately notify the person responsible for posting such materials that 3316_Lab4 removed or disabled access to the materials. 3316_Lab4 may also provide the responsible person with your email address so that the person may respond to your allegations.
    Pursuant to 17 U.S.C. 512(c). 3316_Lab4 designated Copyright Agent is:
    jdailly2@uwo.ca
    jgilli33@uwo.ca
    rwill33@uwo.ca
    </p>

    <br>
    <br>
    <p>Email:</p>
    <input type= "text" name = "contactInformation" placeholder="Please enter contact information">
    <P>Review in question: </P>
    <input type= "text" name = "reviewInformation" placeholder="Please enter the review in question">
    <br>
    <button>Submit</button>


