<app-navbar></app-navbar>
<div>
  <div class = "search">
    <input type="text" name="searchByArtist" placeholder="Search by artist"  [(ngModel)]="artist"><input>
    
  </div>
<div>
  <button (click) = "getArtists()">search artists</button>
  <input type="checkbox" id="switch" [(ngModel)] = "isOn"/><label for="switch">display more info</label>
  <table >
    <thead>
      <tr>
        <th scope="col">Artist Name</th>
        <th scope="col">Title</th>
        <th scope="col"  *ngIf="showMe" >genres<th>
        <th scope="col"  *ngIf="showMe">play-length</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artist of obj ">
        <th scope="row">{{ artist.name}}</th>
        <td>{{ artist.title}}</td>
        <td *ngIf="showMe">{{artist.genre}}</td>
        <td *ngIf="showMe">{{artist.time}}</td>
    
      </tr>
    </tbody>
  </table>

  <!--<button (click) = "getPost()">show genres</button>
 
<div *ngFor = "let artist of artists">
  {{artist}}



</div>



 
<div *ngFor = "let post of posts | async">
  {{post | json}}
  <button (click)="showDetails()"> Show more details</button>
  <button (click)="playSongOnyoutube()">Play song on youtube</button>
  -->
</div>


</div>

