<app-navbar></app-navbar>
<div>
  <div class = "search">
    <input type="text" name="searchByArtist" placeholder="Search by artist"  [(ngModel)]="artist"><input>
    
  </div>
<div>
  <button (click) = "getArtists()">search artists</button>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)] = "isOn">
    <label class="form-check-label" for="flexSwitchCheckChecked">display more info</label>
  </div>
  <!--
  <table class = "displayInfo" >
    <thead>
      <tr>
        <th scope="col">Artist Name</th>
        <th scope="col">Title</th>
        <th scope="col"  *ngIf="showMe" >genres<th>
        <th scope="col"  *ngIf="showMe">play-length</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artist of obj ">
        <th scope="row">{{ artist.name}}</th>
        <td>{{ artist.title}}</td>
        <td *ngIf="showMe">{{artist.genre}}</td>
        <td *ngIf="showMe">{{artist.time}}</td>
        <button (click)="playSongOnyoutube(artist.title)">Play song on youtube</button>
      </tr>
      
    </tbody>
  </table>
-->


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Artist Name</th>
        <th scope="col">Title</th>
        <th scope="col" *ngIf="showMe">genres</th>
        <th scope="col" *ngIf="showMe">play-length</th>
        <th scope="col" *ngIf="showMe">year</th>
        <th scope="col">youtube</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let artist of obj ">
        
        
        <td>{{ artist.name}}</td>
        <td>{{ artist.title}}</td>
        <td *ngIf="showMe">{{artist.genre}}</td>
        <td  *ngIf="showMe">{{artist.time}}</td>
        <td  *ngIf="showMe">{{artist.year}}</td>
        <td>   <button (click)="playSongOnyoutube(artist.title)">Play song on youtube</button> </td>
      </tr>
    </tbody>
  </table>

  <!--<button (click) = "getPost()">show genres</button>
 
<div *ngFor = "let artist of artists">
  {{artist}}



</div>



 
<div *ngFor = "let post of posts | async">
  {{post | json}}
  <button (click)="showDetails()"> Show more details</button>
  <button (click)="playSongOnyoutube()">Play song on youtube</button>
  -->
</div>


</div>

