<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="container">
  <div class="input-group">
    <input type="text" id="searchBar" class="form-control" placeholder="Artist" [(ngModel)]="artist">
    <input type="text" id="searchBar" class="form-control" placeholder="Track" [(ngModel)]="track">
    <input type="text" id="searchBar" class="form-control" placeholder="Genre" [(ngModel)]="genre">
    <button class="input-group-text" id="addon-wrapping" (click)="getArtists()"><span class="material-symbols-outlined">
        search
    </span></button>
  </div>
</div>
<div>
<br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Artist Name</th>
        <th scope="col">Title</th>
        <th scope="col">Search on Youtube</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let artist of obj ">
        <td>{{ artist.name}}</td>
        <td>{{ artist.title}}</td>
        <td>   <button (click)="playSongOnyoutube(artist.title)" class="play"><i class="fa">&#xf16a;</i></button> </td>
      </tr>
    </tbody>
  </table>
</div>
</body>