<div *ngIf="!this.edit" [innerHtml]="this.obj">
</div>
<button class="btn btn-primary" style="margin: 8px;" (click)="this.edit = !this.edit" [hidden]="hidden">{{!this.edit ? "Edit" : "Cancel"}}</button>
<div style="width: 100%;" [hidden]="!this.edit">
  <hr>
  <h2>
    Edit Policy
  </h2>
  <textarea #privacy style="width: 100%; height: 500px;" [defaultValue]="this.obj"></textarea>
</div>
<button class="btn btn-primary" style="margin: 8px;" (click)="save(privacy.value)"  [hidden]="!this.edit" >Save</button>
