<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="container-fluid sign-in-container">
    <span class="material-symbols-outlined back-button" routerLink="/">
      arrow_back
      </span>
      <h3 class="d-flex justify-content-center">Sign In</h3>
      <div class="input-group flex-nowrap mt-5 mb-4">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="email" [ngClass]="this.error ? 'form-control is-invalid' : 'form-control'" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping" #userName required>
      </div>
        <div class="input-group has-validation mb-2">
          <input type="password" [ngClass]="this.error ? 'form-control is-invalid' : 'form-control'" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" #userPassword required>
          <div [textContent]="this.errorMessage" class="invalid-feedback">
          </div>
        </div>


      <!-- Calling SignIn Api from AuthService -->
      <div class="input-group flex-nowrap mb-3">
        <input type="button" class="btn btn-primary" value="Log in" (click)="inputValidation(userName.value, userPassword.value)">
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="input-group flex-nowrap mb-2">
        <button type="button" class="btn btn-outline-success" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
        <a routerLink="/forgot-password">Forgot Password?</a>
    <div class="redirectToLogin">
      <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
    </div>
  </div>
</div>
