<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="container-fluid sign-in-container">
    <span class="material-symbols-outlined back-button" routerLink="/sign-in">
      arrow_back
      </span>
      <h3 class="d-flex justify-content-center">Sign Up</h3>
      <div class="input-group flex-nowrap mt-5 mb-3">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping" #userName required>
      </div>
      <div class="input-group flex-nowrap mb-4">
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="input-group flex-nowrap mb-3">
        <input type="button" class="btn btn-primary" value="Sign Up" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
  </div>
</div>
