<body>
  <app-navbar></app-navbar>
  <h1>Music Database</h1>
<div>
  <div class ='box'>
Welcome to Music Database!<br><br>
Search for your favourite tracks and<br>find them on youtube, browse and<br>listen to public playlists.<br><br>
Create an account to make<br>and manage your own playlists,<br>and review other members playlists.<br><br>
Get started from the<br>navigation bar at the top!
  </div>

</div>
<div>
  <br>
  <p>
    <a href="/privacy-policy">Privacy Policy</a>
    -
    <a href="/acceptable-use-policy">Acceptable use Policy</a>
    -
    <a href="/dmca-policy">DMCA Policy</a>
  </p>
</div>
</body>
