<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="back-button">
      <span class="material-symbols-outlined" routerLink="../">
        arrow_back_ios
        </span>
  </div>
  <div class="header">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/musicicon.jpeg" class="card-img-top" alt="...">
      </div>
    </div>
    <div style="width: 100%;">
        <div class="details">
          <h3 class="playlist-name">
            {{playlist?.playlistName}}
          </h3>
          <div>
            {{playlist?.description}}
          </div>
        </div>
        <div class="details" style="margin-top: 16px;">
          <div class="user-name">
            {{username}}
          </div>
        </div>
    </div>
  </div>
  <div style="display: flex; justify-content: end; padding: 20px 0;">
    <button type="button" [ngClass]="!isTracksCollapsed ? 'btn btn-primary' : 'btn btn-outline-primary'" (click)="viewTracks()"
        [attr.aria-expanded]="!isTracksCollapsed" aria-controls="collapseTracks">View Tracks
    </button>
    <button type="button" [ngClass]="!isReviewsCollapsed ? 'btn btn-primary' : 'btn btn-outline-primary'" (click)="viewReviews()"
        [attr.aria-expanded]="!isReviewsCollapsed" aria-controls="collapseReviews">View Reviews
    </button>
    <hr>
  </div>
  <div id="collapseReviews" [collapse]="isReviewsCollapsed" style="width: 100%; margin-top: 16px; margin-bottom: 16px;">
    <div style="display: flex; justify-content: end; margin-bottom: 16px;">
      <button class="btn btn-primary" (click)="openModal(template)">
        Add Review
      </button>
    </div>
    <ul class="list-group">
      <li *ngFor="let review of comments" class="list-group-item">
        <div>
          Username: {{review.username}}
        </div>
        <div>
          Review: {{review.review}}
        </div>
        <div>
          Rating: {{review.rating}}
        </div>
        <div>
          Date: {{formatDate(review.createdAtDate)}}
        </div>
        <div class ="report">
          <button (click) = "reportBtn()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
          </svg>
        </button>
        </div>
        <button class="btn btn-primary" *ngIf="this.getRole()" (click)="confirmHide(commentConfirm, review)">
          {{review.isHidden ? "Unhide" : "Hide"}}
        </button>
      </li>
    </ul>
</div>
  <div id="collapseTracks" [collapse]="isTracksCollapsed" style="width: 100%; margin-top: 16px; margin-bottom: 16px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Track Name</th>
          <th scope="col">Album Name</th>
          <th scope="col">Artist Name</th>
          <th scope="col">Play On Youtube</th>
          <th scope="col">Track Details</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let track of tracks">
          <th scope="row">{{track.trackTitle}}</th>
          <td>{{track.albumTitle}}</td>
          <td>{{track.artistName}}</td>
          <td>   <button (click)="playSongOnyoutube(track.trackTitle)" class="play"><i class="fa">&#xf16a;</i></button> </td>
          <td><button class="btn btn-primary" (click)="viewTrackDetails(track.trackId)">View Track Details</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #commentConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure?</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="closeModal()">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="hideComment()">
      {{this.selectedComment.isHidden ? "Unhide" : "Hide"}}
    </button>
  </div>
</ng-template>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Review</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group has-validation mb-4">
      <label for="customRange2" class="form-label">Rating: {{this.rating}}</label>
      <input type="range" class="form-range" min="1" max="5" id="customRange2" [value]="this.rating" (change)="handleRatingChange($event)">
      <!-- <input type="text" [ngClass]="this.error ? 'form-control is-invalid' : 'form-control'" placeholder="Playlist Name" aria-label="Playlist Name" aria-describedby="addon-wrapping" #playlistName required>
      <div [textContent]="this.errorMessage" class="invalid-feedback"></div> -->
    </div>
    <div class="input-group">
      <textarea class="form-control" placeholder="Comment" aria-label="With textarea" #comment></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="inputValidation(this.rating, comment.value)">
      Add Review
    </button>
  </div>
</ng-template>
