.container{
  margin-top: 24px;
  margin-bottom: 24px;
}

.card {
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
}

.comments{
  background-color: white;
  border-radius: 0;
}

img{
  width:200px;
  height:200px;
  border-radius: 5px;
}

.header{
  display: flex;
  padding-bottom: 24px;
}

.playlist-name{
  font-size: 4rem;
}
.user-name{
  font-size: 2rem;
}

.details{
  padding-left: 3rem;
}

.back-button{
  padding: 10px;
}

.material-symbols-outlined{
  cursor: pointer;
}

button + button {
  margin-left: 10px;
}
