<app-navbar></app-navbar>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a [ngClass]="this.accountActive ? 'nav-link active' : 'nav-link'" routerLink="/dashboard">
              Account
            </a>
          </li>
          <li class="nav-item">
            <a [ngClass]="this.playlistsActive ? 'nav-link active' : 'nav-link'" routerLink="playlists">
              Playlists
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item" *ngIf="authService.role.admin">
            <a [ngClass]="this.adminActive ? 'nav-link active' : 'nav-link'" routerLink="admin">
              Admin
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <app-account *ngIf="this.accountActive"></app-account>
    </main>
  </div>
</div>
