
.sidebar{
  padding: 0;
}

.nav-link{
  border-radius: 0;
  color: black;
}

.main{
  height: 100%;
  overflow: auto;
  padding: 0;
}

.row{
  width: 100%;
}

.nav-link.active{
  background-color: #1DB954;
}
