.cont{
  height: 100%;
  background-color:#191414;
}

.back-button {
  margin-top: 3rem;
  margin-left: 3rem;
}

.details-cont{
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.details{
  padding: 30px;
  border-radius: 8px;
  border: 1px solid white;
}


.genres{
  color: #1DB954;
}
p{
  color: #1DB954;
}

.title{
  font-size: 30px;
}

