<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="container-fluid sign-in-container">
    <span class="material-symbols-outlined back-button" routerLink="/sign-in">
      arrow_back
      </span>
      <h3 class="d-flex justify-content-center mt-4">Thank You for Registering</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </div>
  </div>
