.container-sm {
  height: 100%;
}

.sign-in-container{
  width: 400px;
  background-color: #f3efefc7;
  box-shadow: 1px 0px 33px 9px rgba(125,125,125,0.75);
  -webkit-box-shadow: 1px 0px 33px 9px rgba(125,125,125,0.75);
  -moz-box-shadow: 1px 0px 33px 9px rgba(125,125,125,0.75);
  padding: 24px;
  border-radius: 8px;
}

.back-button{
  cursor: pointer;
}
