<div class="container">
  <div class="back-button">
      <span class="material-symbols-outlined" routerLink="../">
        arrow_back_ios
        </span>
  </div>

  <div class="header">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/musicicon.jpeg" class="card-img-top" alt="...">
      </div>
    </div>
    <div style="width: 100%;">
        <div class="details">
          <div style="display: flex; gap: 30px; align-items: center;">
            <h3 class="playlist-name">
              {{playlist?.playlistName}}
            </h3>
            <button style="height: 30%;" class="btn btn-primary" (click)="openModal(template)">Edit</button>
          </div>
          <div>
            {{playlist?.description}}
          </div>
        </div>
        <div class="details" style="margin-top: 16px;">
          <div class="user-name">
            {{username}}
          </div>
          <div class="form-check form-switch" style="font-size: 20px">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="this.playlist?.isPublic" (change)="changePublic($event, playlist?.playlistId)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Playlist Public</label>
          </div>
        </div>
    </div>
  </div>
  <div style="display: flex; justify-content: end; padding: 20px 0;">
    <button class="btn btn-outline-dark" (click)="openModal(tracksTemplate)">
      Add Track
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Track Name</th>
        <th scope="col">Album Name</th>
        <th scope="col">Artist Name</th>
        <th scope="col">Remove from playlist</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let track of tracks">
        <th scope="row">{{track.trackTitle}}</th>
        <td>{{track.albumTitle}}</td>
        <td>{{track.artistName}}</td>
        <td><button class="btn btn-primary" (click)="deleteTrack(track.trackId)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Playlist</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group has-validation mb-4">
      <input type="text" [defaultValue]="this.playlist?.playlistName" [ngClass]="this.error ? 'form-control is-invalid' : 'form-control'" placeholder="Playlist Name" aria-label="Playlist Name" aria-describedby="addon-wrapping" #playlistName required>
      <div [textContent]="this.errorMessage" class="invalid-feedback"></div>
    </div>
    <div class="input-group">
      <textarea class="form-control" [defaultValue]="this.playlist?.description ? this.playlist?.description : '' " placeholder="Description" aria-label="With textarea" #description></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="this.inputValidation(playlistName.value, description.value)">
      Save
    </button>
  </div>
</ng-template>

<ng-template #tracksTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Search</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Track Search" aria-describedby="addon-wrapping" #search>
      <button class="btn btn-primary" (click)="searchTracks(search.value)">
        Search
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Track Name</th>
          <th scope="col">Artist Name</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let artist of artists ">
          <td>{{ artist.title}}</td>
          <td>{{ artist.name}}</td>
          <td><button *ngIf="!artist.isInPlaylist" class="btn btn-primary" (click)="addTrack(artist.id)">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
