<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="container-fluid sign-in-container">
    <span class="material-symbols-outlined back-button" routerLink="/sign-in">
      arrow_back
      </span>
      <h3 class="d-flex justify-content-center">Reset Password</h3>
      <div class="input-group flex-nowrap mt-5 mb-4">
        <input type="text" class="form-control" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="input-group flex-nowrap mb-3">
        <input type="button" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
  </div>
</div>
